Let's start with a brief introduction to Pandas before creating some graphs with Plotly. We'll explore a simple data set from the state of Delaware's Open Data portal. Specifically, we'll be using the [Aerial Waterfowl Survey Data](https://data.delaware.gov/Energy-and-Environment/Aerial-Waterfowl-Survey-Data/bxyv-7mgn). 

Tips for those new to Python:
* lines starting with '#' are comments
* Run the cells in order!

If you want more information about Jupyter, checkout this [Quick Start Guide](https://jupyter-notebook-beginner-guide.readthedocs.io/en/latest/)

In [ ]:
# Run this if you need to install the requirements (Prefixing with ! runs it as a shell command).
# You do not need to run this in Azure, so it is commented out. But you should run it if you have
# Jupyter running on your own computer.
#!pip install -r requirements.txt

In [ ]:
# Import the libraries we're using
import pandas as pd

In [ ]:
# Load the waterfowl data into a dataframe
url = "https://data.delaware.gov/api/views/bxyv-7mgn/rows.csv?accessType=DOWNLOAD"
waterfowl_df = pd.read_csv(url)

In [ ]:
# Time to explore the data.

# First, check the number of rows and columns against the data on the portal!
waterfowl_df.shape

In [ ]:
# As of February 10, 2018, we have 1942 rows and 36 columns. If you do this later, you may have more than 1942 rows.
# Check your output against the open data portal!

# Now look at the column types
waterfowl_df.dtypes

In [ ]:
# Weird that Mergansers is a float. That's something you would explore if you wanted to chart that bird.

# Look at the first few rows of data. Compare to the data on the data portal!
waterfowl_df.head()

In [ ]:
# Look at the last few rows:



waterfowl_df.tail()

## Note

Looking at the head and tail, you can see that far left is an unnamed column that starts at 0 and ends at 1941 (as of Feb. 10, 2018!). That is the index, and it lets you access a single row very quickly.

Many programming languages start counting at 0 rather than 1. But if you were to do this in the R programming language, it would start with 1. Likewise, if you import this into a database the first row would also be 1. But this is Python, and Python starts at 0.

In [ ]:
# Pandas has a handy describe() function
# count tells the number of values that column has (some columns can be NaN (Not a Number))
# Look at the mean, median (50%) and max
waterfowl_df.describe()

In [ ]:
# Let's sum all the columns to select what birds we want
waterfowl_df.sum()

In [ ]:
# Let's look at the number of rows for each year
waterfowl_df.groupby('Year').count()

In [ ]:
# ***** This cell requires you to fill something in! *****

# Copy the previous command, and paste it below.
# Before running, edit it to get the sum by year.
# This is an example of "method chaining," and it's part of the power of Pandas!

In [ ]:
# Going back to the .count() example, most years have 44 rows, but there are discrepencies!

# Let's look at the counts of January in each year
waterfowl_df_january = waterfowl_df[waterfowl_df['Month']=='January']
waterfowl_df_january.groupby('Year').count()

In [ ]:
# In 2010 and before the number of observations in January was 11.
# Since 2011 it has 14. Let's look at 2010 and 2011 (ignore the warning if you see one)
waterfowl_df_january[waterfowl_df['Year'].isin([2010, 2011])]

In [ ]:
# ***** This cell requires you to fill something in! *****

# 2011 has three observations with the timeperiod set to 'Late'
# Remove observations where the timeperiod = 'Late' 
# (in otherwords, keep the observations where the time period does not equal (!=) 'Late')
waterfowl_df_january_sub = waterfowl_df_january[waterfowl_df_january['Time Period']!='REPLACE_ME']

# Finish the previous line, then we'll check the counts again
waterfowl_df_january_sub.groupby('Year').count()

In [ ]:
# We have 11 observations for each year! So far so good.
# Note: You'll see that 'Time Period' is 0 through 2010. That is because it is not set until 2010, and the
# .count() method only counts values that are set!

# In 2011 Delaware started counting some areas multiple times, but we only want to look at a single observation
# for each area ('Unit' in the data) for January of each year.

# Let's check unit counts
waterfowl_df_january_sub.groupby('Unit').count()

### Done Part 1
We already knew we had 11 observations for each year. Now we see that each unit number, 1-11, has 44 records. That is one for each year!

So it is save to say that every year has a single observation for each of the 11 Units. I think we now have data we can safely compare year after year, do you agree?

Note: In the cell above, you'll see the far left column, the index column, has a label of 'Unit.' That is because we grouped by Unit! If you scroll further up, you'll see when we grouped by 'Year' that the index has a label of 'Year.'

#### Continue on to the second notebook!